* {
    background-color: grey;
    
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    outline: solid 2px black;
}


h1 {
    color: green;
}